{% load staticfiles %}
<html lang="en" >
  <head>
    <script type="text/javascript">
  /*    setTimeout(function() {
        window.location.reload();
      }, 1000);*/
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--link rel="stylesheet" type="text/css" media='screen,print' href="{% static "reset.css" %}"-->
    <link rel="stylesheet" type="text/css" media='screen,print' href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" media='screen,print' href="{% static "fonts.css" %}">
    <link rel="stylesheet" type="text/css" media='screen,print' href="{% static "index.css" %}">

    <script type="text/javascript" src="{% static "jquery-1.11.3.min.js" %}"></script>
    {% block js %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>