{% extends "internal-base.html" %}
{% load staticfiles %}

{% block js %}
{% endblock %}

{% block navstyle %}margin-bottom: 20px;{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 80px;">
    <div class="col-md-12" style="margin-bottom: 20px;">
        <blockquote>
            "Sirvam aos seus senhores de boa vontade, como servindo ao Senhor, e não aos homens, porque vocês sabem que o Senhor recompensará cada um pelo bem que praticar, seja escravo, seja livre."
            <small>Ef&eacute;sios 6:7-8</small>
        </blockquote>
    </div>

    <div class="col-md-8 clearfix">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Vagas para Vigilante</h3>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <p class="list-group-item-text">Vaga de descr&ccedil;&atilde;o lorem ipsum dolor sit amet</p>
                </a>
                <a href="#" class="list-group-item">
                    <p class="list-group-item-text">
                        Vaga de descr&ccedil;&atilde;o Adipisicing consectetur
                    </p>
                </a>
            </div>
            <div class="panel-footer" style="text-align: center;">
                <a href="#" style="width: 100%; display: inline-block; color: #2A9F49;">Busque outras vagas</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 pull-right">
        <div class="panel panel-default">
            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Seu curr&iacute;culo</h4>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Dados B&aacute;sicos
                        <a href="#" class="pull-right"><small style="color: #2A9F49;">Editar</small></a>
                    </h4>

                    <div class="progress" style="margin: 20px 0 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Forma&ccedil;&atilde;o Acad&ecirc;mica
                        <a href="#" class="pull-right"><small style="color: #2A9F49;">Editar</small></a>
                    </h4>

                    <div class="progress" style="margin: 20px 0 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Empregos Anteriores
                        <a href="#" class="pull-right"><small style="color: #2A9F49;">Editar</small></a>
                    </h4>

                    <div class="progress" style="margin: 20px 0 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Cursos Extras
                        <a href="#" class="pull-right"><small style="color: #2A9F49;">Editar</small></a>
                    </h4>

                    <div class="progress" style="margin: 20px 0 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">
                        Projetos pessoais
                        <a href="#" class="pull-right"><small style="color: #2A9F49;">Editar</small></a>
                    </h4>

                    <div class="progress" style="margin: 20px 0 10px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer" style="text-align: center;">
                <a href="#" style="width: 100%; display: inline-block; color: #2A9F49;">Exportar curr&iacute;culo para PDF</a>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="col-md-11">
            <h4 style="margin-top: 40px;">Oficina para preenchimento de curr&iacute;culo</h4>
            <p style="text-indent: 20px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            <br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <ul>
                <li>Com Professor Mariath</li>
                <li>Local: Mover Sede</li>
                <li>Hor&aacute;rio: 20 horas</li>
            </ul>
            </p>

            <h4 style="margin-top: 40px;">Minist&eacute;rio de aux&iacute;lio profissional inaugurado</h4>
            <p style="text-indent: 20px;">
            Ol&aacute;,
            <br>
            A Igreja do Mover est&aacute; inaugurando um novo minist&eacute;rio que visa o aux&iacute;lio ao lado profissional do crist&atilde;o.
            <br>
            Neste minist&eacute;rio teremos o seguinte: 
            <ul>
                <li>Aux&iacute;lio pastoral para melhorar o comportamento do profissional antes e durante a estadia em um emprego.</li>
                <li>Oficinas para preenchimento de curr&iacute;culo.</li>
                <li>Busca de empresas que se encaixam em seu perfil profissional.</li>
            </ul>
            A inaugura&ccedil;&atilde;o deste minist&eacute;rio ocorrer&aacute; na Mover Sede, nesta Ter&ccedil;a-feira as 19 horas.
            <br>
            Obrigado por fazer parte conosco.
            </p>
        </div>
    </div>
</div>
{% endblock %}
