{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content" id="login-page">
        <h2>Fa&ccedil;a Login</h2>
        {% if warning and not create %}
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endif %}
        {% if error and not create %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endif %}
        <form method="post" class="form-horizontal" style="margin: 40px 0 50px;">
          {% csrf_token %}
          <div class="control-group">
            <label class="control-label" for="inputEmail">Usuário</label>
            <div class="controls">
              <input type="text" id="inputEmail" name="username" placeholder="Usuário">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Senha</label>
            <div class="controls">
              <input type="password" id="inputPassword" name="password" placeholder="Senha">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Acessar</button>
            </div>
          </div>
        </form>

        <h2>Ou Fa&ccedil;a sua Conta</h2>
        {% if warning and create %}
          <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endif %}
        {% if error and create %}
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endif %}
        <form method="post" class="form-horizontal" style="margin: 40px 0 0;">
          {% csrf_token %}
          <input type="hidden" name="create" value="1" />
          <div class="control-group">
            <label class="control-label" for="inputUser">Usuário</label>
            <div class="controls">
              <input type="text" id="inputUser" name="username" placeholder="Usuário">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">E-mail</label>
            <div class="controls">
              <input type="email" id="inputEmail" name="email" placeholder="E-mail">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Senha</label>
            <div class="controls">
              <input type="password" id="inputPassword" name="password" placeholder="Senha">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
    </div>
{% endblock %}